.looper {
    background-color: #ff9800;
}

#ranger {
    background-color:blueviolet;
}

#master-bus {
    background-color:darkgreen
}


.tracklist {
    background-color: black;
    padding: 10px;
}

.track {
    display: flex;
}

.track canvas {
    border: groove #ff9800 1px;
}

.controls {
    display: flex;
    flex-direction: column;
}

/* Files Section */
#files .container {
    display: flex;
}